# 01 â€“ Data Preprocessing
### Student Depression Prediction: Preparing Data for XGBoost Model

---

## ðŸ“Œ Objective
Prepare and clean the student depression dataset for machine learning analysis using XGBoost classification.

**Key Tasks:**
- Load and explore raw data
- Handle missing values and outliers
- Encode categorical variables
- Scale numerical features
- Export clean dataset for modeling

---

### ðŸ“‚ Input  
 - `student_depression_dataset.csv` saved in `Data/raw/`  


### ðŸ“¦ Output  
- `clean_data.csv` saved in `Data/processed/FC110552_mithula-cbw/`

---

### ðŸ“Š Dataset Overview

| **Attribute** | **Details** |
|---------------|-------------|
| **Dataset Size** | 27,901 records Ã— 18 features |
| **Data Type** | Structured tabular data (CSV format) |
| **Target Variable** | `Depression_Status` (Binary: 0/1 or Yes/No) |
| **Problem Type** | Binary Classification |
| **Data Source** | [Student Depression Dataset](www.kaggle.com/datasets/adilshamim8/student-depression-dataset) |

### ðŸ“ˆ Expected Outcomes
- Clean, processed dataset ready for machine learning

In [5]:
# =====================================
# STEP 1: DATA LOADING & EXPLORATION
# =====================================


# 1.1 - Load libraries and suppress warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [ ]:

# 1.2 - Load the dataset
    # Assign the CSV file to a Pandas DataFrame.

df = pd.read_csv("./Data/raw/student_depression_dataset.csv")

In [ ]:
# Reusable function definitions
    # Function to Print Shape of DataFrame
def get_data_shape(data: pd.DataFrame) -> None:
    if data.empty:
        print("DataFrame is empty.")
    else:
        # Print the shape of the DataFrame
        print("DataFrame Dimensions")
        print("------------------------")
        print(f"Rows   : {data.shape[0]}")
        print(f"Columns: {data.shape[1]}")

In [18]:
get_data_shape(df)

DataFrame Dimensions
------------------------
Rows   : 27901
Columns: 18

In [ ]:
# 1.3 - Display first few rows (Provides a quick look at the dataset's content).
print("\n First 5 rows:")
display(df.head())

 First 5 rows:

   id  Gender   Age           City Profession  Academic Pressure  Work Pressure  CGPA  Study Satisfaction  Job Satisfaction       Sleep Duration Dietary Habits   Degree Have you ever had suicidal thoughts ?  Work/Study Hours Financial Stress Family History of Mental Illness  Depression
0   2    Male  33.0  Visakhapatnam    Student                5.0            0.0  8.97                 2.0               0.0          '5-6 hours'        Healthy  B.Pharm                                   Yes               3.0              1.0                               No           1
1   8  Female  24.0      Bangalore    Student                2.0            0.0  5.90                 5.0               0.0          '5-6 hours'       Moderate      BSc                                    No               3.0              2.0                              Yes           0
2  26    Male  31.0       Srinagar    Student                3.0            0.0  7.03                 5.0               0.0  'Less than 5 hours'        Healthy       BA                                    No               9.0              1.0                              Yes           0
3  30  Female  28.0       Varanasi    Student                3.0            0.0  5.59                 2.0               0.0          '7-8 hours'       Moderate      BCA                                   Yes               4.0              5.0                              Yes           1
4  32  Female  25.0         Jaipur    Student                4.0            0.0  8.13                 3.0               0.0          '5-6 hours'       Moderate   M.Tech                                   Yes               1.0              1.0                               No           0

ðŸ’¡ **Observations:**  
- All column names are readable and appear to be semantically meaningful.
- The `id` column does not increment sequentially
- `Work Pressure` and `Job Satisfaction` have only 0.0 values in the initial rows.
- The `Profession` column appears to contain only "Student" values so far.

In [24]:
# Prints basic statistics (mean, standard deviation, min, max, etc.)
numeric_cols = df.select_dtypes(include=[np.number]).columns.drop('id', errors='ignore')  # For  numeric data types
display(df[numeric_cols].describe())

                Age  Academic Pressure  Work Pressure          CGPA  Study Satisfaction  Job Satisfaction  Work/Study Hours    Depression
count  27901.000000       27901.000000   27901.000000  27901.000000        27901.000000      27901.000000      27901.000000  27901.000000
mean      25.822300           3.141214       0.000430      7.656104            2.943837          0.000681          7.156984      0.585499
std        4.905687           1.381465       0.043992      1.470707            1.361148          0.044394          3.707642      0.492645
min       18.000000           0.000000       0.000000      0.000000            0.000000          0.000000          0.000000      0.000000
25%       21.000000           2.000000       0.000000      6.290000            2.000000          0.000000          4.000000      0.000000
50%       25.000000           3.000000       0.000000      7.770000            3.000000          0.000000          8.000000      1.000000
75%       30.000000           4.000000       0.000000      8.920000            4.000000          0.000000         10.000000      1.000000
max       59.000000           5.000000       5.000000     10.000000            5.000000          4.000000         12.000000      1.000000

ðŸ’¡ **Observations:**  
- `Age` mostly ranges between 21 to 30, aligning with student demographics ,though the max age is 59, which may be an outlier or non-student entry.
- `Work Pressure` and `Job Satisfaction` values appear to be very close to 0, suggesting missing data, poor scaling, or inactive features.